<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<!-- Database Connection Settings -->
		<property name="hibernate.connection.url">
			jdbc:mysql://database-2.cj624yplwe0y.us-east-1.rds.amazonaws.com:3306/db2</property>
		<property name="hibernate.connection.username">admin</property>
		<property name="hibernate.connection.password">DB22Bornot2B!</property>

		<!-- SQL Dialect -->
		<property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQL8Dialect</property>

		<!-- show all generate SQL query -->
		<property name="show_sql">false</property>

		<!-- create necessary tables. change to validate when ready to deploy. -->
		<property name="hbm2ddl.auto">update</property>

		<!-- Mention here all the model classes along with their package name -->
		<mapping class="com.revature.entities.Pin" />
		<mapping class="com.revature.entities.User" />
	</session-factory>
</hibernate-configuration>